<footer id="bottom" class="footer">
  <!-- Footer Container -->
  <div class="footer-container">
    <!-- Copy Rights -->
    <div class="coppy-rights">
      &#169; 2023 &#124; All Rights Reserved &#124;
    </div>
    <!-- Developers Team -->
    <div class="developers-team">
      <span
        >Developed with
        <svg>
          <use href="./images/filmoteka-icons.svg#icon-group"></use>
        </svg>
        by
      </span>
      <button>GoIT Students</button>
    </div>
  </div>
  <!-- Developers Team Modal -->
</footer>
