<footer id="bottom" class="footer">
  <!-- Footer Container -->
  <div class="footer-container">
    <!-- Copy Rights -->
    <div class="coppy-rights">
      &#169; 2023 &#124; All Rights Reserved &#124;
    </div>
    <!-- Developers Team -->
    <div class="developers-team">
      <span
        >Developed with
        <svg>
          <use href="./images/filmoteka-icons.svg#icon-group"></use>
        </svg>
        by
      </span>
      <button class="open-team-modal">GoIT Students</button>
    </div>
  </div>
  <!-- Developers Team Modal -->
  <div class="team-modal team-modal-hidden">
    <div>
      <button class="close-team-modal">
        <svg>
          <use href="./images/filmoteka-icons.svg#icon-close-button"></use>
        </svg>
      </button>
      <ul>
        <li>
          <img src="./images/Ioana.png" alt="The team leader">
        </li>
        <li>
          <img src="./images/Cristian.png" alt="Scrum master">
        </li>
        <li>
          <img src="./images/Ramona.png" alt="Webdeveloper">
        </li>
        <li>
          <img src="./images/Vlad.png" alt="Webdeveloper">
        </li>
        <li>
          <img src="./images/Lidia.png" alt="Webdeveloper">
        </li>
      </ul>
    </div>
  </div>
</footer>
