<footer id="bottom" class="footer">
  <!-- Footer Container -->
  <div class="footer-container">
    <!-- Copy Rights -->
    <div class="coppy-rights">
      &#169; 2023 &#124; All Rights Reserved &#124;
    </div>
    <!-- Developers Team -->
    <div class="developers-team">
      <span
        >Developed with
        <svg>
          <use href="./images/filmoteka-icons.svg#icon-group"></use>
        </svg>
        by
      </span>
      <button class="open-team-modal">GoIT Students</button>
    </div>
  </div>
  <!-- Developers Team Modal -->
  <div class="team-modal team-modal-hidden">
    <div class="team-modal-window">
      <button class="close-team-modal">
        <svg>
          <use href="./images/filmoteka-icons.svg#icon-close-button"></use>
        </svg>
      </button>
      <h4>The project was made by&#8758;</h4>
      <ul>
        <li>
          <img src="./images/Ioana.png" alt="Team leader" />
          <div class="status">
            <span class="name">Ioana Mihaela Curelușa</span>
            <span class="position">Team Leader&#44; web developer</span>
            <div>
              <a href="https://github.com/curelusaioana29">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-github"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-telegram"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li>
          <img src="./images/Cristian.png" alt="Scrum master" />
          <div class="status">
            <span class="name">Cristian Valentin Calotă</span>
            <span class="position">Scrum Master&#44; web developer</span>
            <div>
              <a href="https://github.com/VallentinX">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-github"></use>
                </svg>
              </a>
              <a href="https://t.me/VallentinX">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-telegram"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li>
          <img src="./images/Ramona.png" alt="Webdeveloper" />
          <div class="status">
            <span class="name">Ramona Monica Pîntea</span>
            <span class="position">Web developer</span>
            <div>
              <a href="https://github.com/RamonaMonica">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-github"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-telegram"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li>
          <img src="./images/Vlad.png" alt="Webdeveloper" />
          <div class="status">
            <span class="name">Vlad Moldovanu</span>
            <span class="position">Web developer</span>
            <div>
              <a href="https://github.com/WMD11">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-github"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-telegram"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li>
          <img src="./images/Lidia.png" alt="Webdeveloper" />
          <div class="status">
            <span class="name">Lidia Molodiuc</span>
            <span class="position">Web developer</span>
            <div>
              <a href="https://github.com/demouserlidia88">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-github"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-telegram"></use>
                </svg>
              </a>
              <a href="">
                <svg>
                  <use href="./images/filmoteka-icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
