<!-- Header -->
<header id="header-bkg">
  <ul class="background-list">
    <li class="background-one displayed"></li>
    <li class="background-two"></li>
    <li class="background-three"></li>
  </ul>
  <div class="header-container container header-container--home">
    <!-- Anchors -->
    <ul class="anchors">
      <li class="site-nav__item">
        <button class="home is active js-home" data-request="home" aria-label="home">HOME</button>
      </li>
      <li class="site-nav__item">
        <button class="library is-active js-library" data-request="library" aria-label="my library">MY LIBRARY</button>
      </li>
    </ul>
    <!-- Form -->
    <form class="search-movie">
      <input
        type="text"
        name="searchQuery"
        autocomplete="on"
        placeholder="Movie Search"
      />
      <button class="search" type="submit">
        <svg>
          <use href="./images/filmoteka-icons.svg#search-icon"></use>
        </svg>
      </button>
    </form>
    <!-- Darkmode Button -->
    <button class="dark-mode activate">
      <svg>
        <use href="./images/filmoteka-icons.svg#icon-light-mode"></use>
      </svg>
    </button>
    <!-- Title Container -->
    <div class="title-container">
      <!-- Icon Logo -->
      <svg>
        <use href="./images/filmoteka-icons.svg#icon-film"></use>
      </svg>
      <!-- Title List -->
      <ul>
        <li><a class="play-title" href="./index.html">F</a></li>
        <li><a class="play-title" href="./index.html">I</a></li>
        <li><a class="play-title" href="./index.html">L</a></li>
        <li><a class="play-title" href="./index.html">M</a></li>
        <li><a class="play-title" href="./index.html">O</a></li>
        <li><a class="play-title" href="./index.html">T</a></li>
        <li><a class="play-title" href="./index.html">E</a></li>
        <li><a class="play-title" href="./index.html">K</a></li>
        <li><a class="play-title" href="./index.html">A</a></li>
      </ul>
    </div>
    <!-- User List -->
    <div class="user-list">
      <ul class="user-list">
        <li class="library__item">
          <button class="watched button--library"data-request="watched" aria-label="watched" >WATCHED</button>
        </li>
        <li class="library__item">
          <button class="queue button--library is-active" data-request="queue" aria-label="queue">QUEUE</button>
        </li>
      </ul>
      <button class="clear-wathed-list button--library library__item--button" data-request="clear">CLEAR WATCHED LIST</button>
      <button class="clear-queue-list">CLEAR QUEUE LIST</button>
    </div>
  </div>
</header>
<!-- Arrows -->
<div class="arrows">
  <ul class="arrows">
    <li>
      <a href="#top">
        <svg>
          <use href="./images/filmoteka-icons.svg#icon-arrow-up"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#bottom">
        <svg class="bottom">
          <use href="./images/filmoteka-icons.svg#icon-arrow-up"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>