<!-- Main
 * MovieList
 * Pagination
 -->
<div id="movieList"></div>
<div id="pagination"></div>
<div class="background-box">
    <ul class="pops">
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
    </ul>
    <ul class="pops pops--invers">
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
    </ul>
  </div>