<!-- Main
 * MovieList
 * Pagination
 -->
<div id="movieList"></div>
<div id="pagination"></div>
<div id="movieModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeMovieModal">&times;</span>
    <h2 id="modalTitle"></h2>
    <p id="modalOverview"></p>
    <div id="modalDetails"></div>
    <ul class="list button-list">
      <li>
          <button class="button modal__btn modal__btn--watched">ADD TO WATCHED</button>
      </li>
      <li>
          <button class="button modal__btn modal__btn--queue">ADD TO QUEUE</button>
      </li>
  </ul>
  </div>
</div>

<div class="background-box">
    <ul class="pops">
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
    </ul>
    <ul class="pops pops--invers">
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
      <li class="pop"><img src="./images/star-full.svg" alt="popcorn" /></li>
    </ul>
  </div>




  