div#movieList {
  width: 100%;
  height: 100%;
}
div#movieList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div#movieList ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}
div#movieList li {
  display: list-item;
  padding: 0px;
  margin: 0px;
  width: 370px;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 280px;
  transition: 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 6px 11px 2px rgba(5, 5, 8, 0.1);
  cursor: pointer;
}
#movieList li:hover {
  box-shadow: 0px 0.9px 10px 2px #0d96fadd;
  transform: scale(1.03);
}
div#movieList img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  margin-bottom: 2px;
  object-fit: cover;
}
div#movieList h2 {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1.5;
  margin-top: 0px;
  margin-left: 11px;
  margin-bottom: 0px;
}
div#movieList span1 {
  display: inline-flex;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.1;
  color: #0d96fadd;
  padding-top: 0px;
  padding-right: 3px;
  margin-left: 11px;
  margin-top: 0px;
}
div#movieList span2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: normal;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 16px;
  border-radius: 5px;
  background-color: #0d96fadd;
  color: #fff;
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
div#movieList span3 {
  display: inline-flex;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.1;
  color: #0d96fadd;
  padding-top: 0px;
  padding-right: 3px;
  margin-left: 5px;
}

body {
  font-family: Arial, sans-serif;
}
.search-movie {
  margin-bottom: 20px;
}
form {
  display: flex;
}
div#movieList input {
  flex: 1;
  padding: 8px;
  margin-right: 8px;
}
button {
  padding: 8px;
}
#movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/* Pagination */
div#pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 45px 0px;
}
div#pagination button {
  padding: 0;
  background-color: #b6b9bddd;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
   width: 30px;
   height: 30px;
   border-radius: 50px
}
div#pagination button:hover {
  box-shadow: 0px 0.9px 10px 2px #0d96fadd;
  transform: scale(1.03);
}
div#pagination button.active {
  background-color: #0d96fadd;
  color: #fff;
  box-shadow: 0px 0px 5px 0px #111;
  transform: scale(1.09);
}
/********** Tablet ( 480px - 768px ) **********/
@media screen and (min-width: 480px) {
  div#movieList ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
  }
  div#movieList li {
    margin-bottom: 0;
    width: 294px;
  }
  /* Pagination */
  div#pagination {
    gap: 15px;
  }
  div#pagination button {
    padding: 0;
    background-color: #b6b9bddd;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
     width: 40px;
     height: 40px;
     border-radius: 50px
  }
}
/********** Desktop ( 768px - 1200px ) **********/
@media screen and (min-width: 768px) {
  div#movieList ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  div#movieList ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
  }
}


.background-box {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pops {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(245, 228, 0);
  fill: yellow;
}
.pops--invers .pop {
  transform: rotate(360deg) translateX(100%);
}
.pop {
  position: absolute;
  display: block;
}
.pop:nth-child(1) {
  left: 90%;
  animation: fall 23s linear infinite;
  animation-delay: -2s;
}
.pop:nth-child(2) {
  right: 0%;
  animation: fall 25s linear infinite;
  animation-delay: -2s;
}
.pop:nth-child(3) {
  left: 20%;
  animation: fall 40s linear infinite;
  animation-delay: -3s;
}
.pop:nth-child(4) {
  left: 60%;
  animation: fall 38s linear infinite;
  animation-delay: -4s;
}
.pop:nth-child(5) {
  left: 30%;
  animation: fall 34s linear infinite;
  animation-delay: -6s;
}
.pop:nth-child(6) {
  left: 80%;
  animation: fall 26s linear infinite;
  animation-delay: -6s;
}
.pop:nth-child(7) {
  left: 40%;
  animation: fall 35s linear infinite;
  animation-delay: -7s;
}
.pop:nth-child(8) {
  left: 70%;
  animation: fall 36s linear infinite;
  animation-delay: -8s;
}
.pop:nth-child(9) {
  left: 50%;
  animation: fall 27s linear infinite;
  animation-delay: -9s;
}
.pop:nth-child(10) {
  left: 0%;
  animation: fall 38s linear infinite;
  animation-delay: -10s;
}
.pop:nth-child(11) {
  left: 70%;
  animation: fall 39s linear infinite;
  animation-delay: -1s;
}
.pop:nth-child(12) {
  right: 5%;
  animation: fall 35s linear infinite;
  animation-delay: -4s;
}
.pop:nth-child(13) {
  left: 25%;
  animation: fall 20s linear infinite;
  animation-delay: -5s;
}
.pop:nth-child(14) {
  left: 5%;
  animation: fall 38s linear infinite;
  animation-delay: -3s;
}
.pop:nth-child(15) {
  left: 35%;
  animation: fall 34s linear infinite;
  animation-delay: -5s;
}
.pop:nth-child(16) {
  left: 45%;
  animation: fall 26s linear infinite;
  animation-delay: -6s;
}
.pop:nth-child(17) {
  left: 45%;
  animation: fall 30s linear infinite;
  animation-delay: -7s;
}
.pop:nth-child(18) {
  left: 75%;
  animation: fall 31s linear infinite;
  animation-delay: -8s;
}
.pop:nth-child(19) {
  left: 55%;
  animation: fall 32s linear infinite;
  animation-delay: -9s;
}
.pop:nth-child(20) {
  right: 40%;
  animation: fall 23s linear infinite;
  animation-delay: -10s;
}


@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }
  40% {
    transform: translateX (-20px) rotate(90deg);
  }
  60% {
    transform: translateX (-20px) rotate(135deg);
  }
  80% {
    transform: translateX (-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
}
.pops--invers {
  transform: rotateX(180deg);
}


@media screen and (min-width: 480px) {
  .pops .pop  {width: 30px;
} }
.pops .pop {
  width: 20px;

}

.pops--invers .pop {
  width: 30px;

}

@media screen and (min-width: 480px) {
  .pops--invers .pop {width: 40px;
}   }

/* Styles for modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(34, 124, 235);
  text-decoration: none;
  cursor: pointer;
}

 .button-list {
  height: 44px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  border-radius: 5px;
    padding: 0 8px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 255ms ease;
}



.modal__btn--watched {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  border: 1px solid #000;
  background: #ffffff;
  color: #000;
  padding: 0 5px;
  transition: all 250ms ease-in;
}


.modal__btn--watched:hover,
.modal__btn--watched:focus {
  background-color: #0d96fadd;
  color: #ffffff;
  border: 1px solid #0d96fadd;
  transition: all 250ms ease-in;
}

.modal__btn--queue {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  border: 1px solid #000;
  background: #ffffff;
  color: #000;
  padding: 0 5px;
  transition: all 250ms ease-in;
}


.modal__btn--queue:hover,
.modal__btn--queue:focus {
  background-color: #0d96fadd;
  color: #ffffff;
  border: 1px solid #0d96fadd;
  transition: all 250ms ease-in;
}

.vote-average-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: normal;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 16px;
  border-radius: 5px;
  background-color: #0d96fadd;
  color: #fff;
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.slash {
  color: #0d96fadd; 
}


